{
    "printWidth": 100,
    "tabWidth": 4,
    "endOfLine": "crlf",
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "jsxBracketSameLine": false
}
